# Building an Recommendation Engine

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [27]:
from sklearn.metrics.pairwise import euclidean_distances, manhattan_distances
from sklearn.metrics.pairwise import cosine_distances, cosine_similarity

In [ ]:
df = pd.read_csv('final_recom')

In [28]:
ratings_df = pd.melt(df, id_vars=['date_num'], var_name='archetype')

In [16]:
ratings_df

        date_num archetype  value
0          42055   Rainbow      1
1          41873   Rainbow      1
2          41862   Rainbow      1
3          41770   Rainbow      1
4          41687   Rainbow      1
5          41622   Rainbow      1
6          41596   Rainbow      1
7          41427   Rainbow      1
8          41418   Rainbow      1
9          41357   Rainbow      1
10         41329   Rainbow      1
11         41321   Rainbow      1
12         41286   Rainbow      1
13         41264   Rainbow      1
14         41162   Rainbow      1
15         41144   Rainbow      1
16         42044   Rainbow      2
17         42040   Rainbow      2
18         42034   Rainbow      2
19         41981   Rainbow      2
20         41823   Rainbow      2
21         41712   Rainbow      2
22         41640   Rainbow      2
23         41614   Rainbow      2
24         41600   Rainbow      2
25         41599   Rainbow      2
26         41424   Rainbow      2
27         41393   Rainbow      2
28         42070   Rainbow      3
29         41854   Rainbow      3
...          ...       ...    ...
480747     40930       Zoo      5
480748     40929       Zoo      5
480749     40922       Zoo      5
480750     40853       Zoo      5
480751     40853       Zoo      5
480752     40825       Zoo      5
480753     40825       Zoo      5
480754     40780       Zoo      5
480755     40769       Zoo      5
480756     40769       Zoo      5
480757     42052       Zoo      6
480758     42048       Zoo      6
480759     42036       Zoo      6
480760     41856       Zoo      6
480761     41738       Zoo      6
480762     41699       Zoo      6
480763     41695       Zoo      6
480764     41684       Zoo      6
480765     41552       Zoo      6
480766     41350       Zoo      6
480767     41335       Zoo      6
480768     41818       Zoo      7
480769     41771       Zoo      7
480770     41741       Zoo      7
480771     40773       Zoo      7
480772     41763       Zoo      8
480773     41704       Zoo      8
480774     41699       Zoo      8
480775     41685       Zoo      8
480776     41153       Zoo     10

[480777 rows x 3 columns]

In [19]:
df2 = ratings_df.dropna()
rainbow_users = df2[df2.archetype == 'Rainbow']
affinity_users = df2[df2.archetype == 'Affinity']

In [24]:
common_users = set(rainbow_users.date_num).intersection(affinity_users.date_num)
rainbow_ratings = df2[df2.date_num.isin(common_users) & (df2.archetype == 'Rainbow')].value
affinity_ratings = df2[df2.date_num.isin(common_users) & (df2.archetype == 'Affinity')].value

In [25]:
cosine_similarity(rainbow_ratings, affinity_ratings)

ValueError: Incompatible dimension for X and Y matrices: X.shape[1] == 30 while Y.shape[1] == 69

In [35]:
def calculate_similarity(df, item1, item2, sim_func):
    df = df.dropna()
    item1_users = df[df['Coffee'] == item1].Name.unique()
    item2_users = df[df['Coffee'] == item2].Name.unique()
    common_users = set(item1_users).intersection(item2_users)
    user_mask = (df['Name'].isin(common_users))
    item1_mask = (df['Coffee'] == item1)
    item2_mask = (df['Coffee'] == item2)
    sim_value = sim_func(df[user_mask & item1_mask].value, df[user_mask & item2_mask].value)
    return sim_value[0][0]

In [38]:
calculate_similarity(ratings_df, 'Starbucks', 'PhilzCoffee', cosine_similarity)

0.88099219370405979

In [47]:
def recommended_place(ratings_df, myshop):
    sim_items = []
    for shop in ratings_df.Coffee.unique():
        sim_value = calculate_similarity(ratings_df, myshop, shop, cosine_similarity)
        sim_items.append((shop, sim_value))
    return sim_items

In [48]:
sim_ratings = recommended_place(ratings_df, 'PhilzCoffee')
sim_ratings.sort(key=lambda x: x[1], reverse=True)
sim_ratings

[('PhilzCoffee', 1.0000000000000002),
 ('BlueBottleCoffee', 0.98664715978766304),
 ('GrandCoffee', 0.98020440073623694),
 ('CaffeTrieste', 0.94243557789476951),
 ('PeetsTea', 0.92983969648564635),
 ('FourBarrel', 0.91654696409106085),
 ('RitualCoffee', 0.91447237794405922),
 ('Starbucks', 0.88099219370405979),
 ('WorkshopCafe', 0.8710790642362547)]